
<style type="text/css">
    .img-preview{
        width:200px;
        min-height:200px;
        margin-bottom:10px;
    }
</style>

<input type="hidden" name="@Html.ViewData.ModelMetadata.PropertyName" id="@Html.ViewData.ModelMetadata.PropertyName" value="@Model" />
<div>
    <img src="@Model" alt="" id="image_@Html.ViewData.ModelMetadata.PropertyName" class="img-preview" />
</div> 
<input type="button" name="upload_@Html.ViewData.ModelMetadata.PropertyName" id="upload_@Html.ViewData.ModelMetadata.PropertyName" value="上传文件" />
<script type="text/javascript">
    $(function () {

        var imgSrc = $("#@Html.ViewData.ModelMetadata.PropertyName").val();

        if (imgSrc) {
            $("#image_@Html.ViewData.ModelMetadata.PropertyName").attr("src", imgSrc);
        }


        $("#upload_@Html.ViewData.ModelMetadata.PropertyName").uploadify({
            multi: false,
            buttonText: "选择图片",
            fileTypeDesc: '图片文件',
            fileTypeExts: '*.jpg; *.png; *.bmp',
            swf: '/Themes/metronic/global/plugins/uploadify/uploadify.swf',
            uploader: '/ashx/upload_json.ashx?dir=image',
            onSelect: function () {

            },
            onUploadSuccess: function (file, data, response) {
                console.log(file);
                console.log(data);
                console.log(response);
                data = JSON.parse(data);
                $("#@Html.ViewData.ModelMetadata.PropertyName").val(data.url);
                $("#image_@Html.ViewData.ModelMetadata.PropertyName").attr("src", data.url);
            }
        });

    });
</script>