@{
    ViewBag.Title = "奥斯美兼职";
}
<!--Main Slider-->
<section class="main-slider" id="home">

    @*<div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                            <img src="images/main-slider/image-1.jpg" alt="" data-bgposition="center top"  data-bgrepeat="no-repeat">

                            <div class="tp-caption sfl sfb tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn"><div class="row">
                                    <div class="col-xs-8"><img src="~/images/shouji.png" /></div>
                                    <div class="col-xs-4"><img src="~/images/1491753056.png" class="fixed-png" /></div></div>
        </div>

                            <div class="tp-caption sfr sfb tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="-80"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn"><div class="text"></div></div>

                            <div class="tp-caption sfl sfb tp-resizeme"
                                 data-x="center" data-hoffset="15"
                                 data-y="center" data-voffset="100"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn"></div>

                        </li>



                    </ul>

                    <div class="tp-bannertimer"></div>
                </div>
            </div>*@
    <img src="~/images/main-slider/image-1.jpg" style="width:100%" />
    <div class="index-info">
        <img class="phone" src="~/images/phone.png" />
        <div class="title">
            <img src="~/images/Home_font.png" style="width:80%" />
            @*<h1>职场人生  从奥斯美开始</h1>
            <img class="qr-code" src="~/images/1491753056.png" />*@
        </div>
        
    </div>
    
</section>
<!--End Main Slider-->

<!--Solutions Section-->
<section class="solution-section bg-white" id="plan">
    <div class="container">
        <div class="sec-title">
            <h2>我们的优势</h2>
            <div class="separator"></div>
            <div class="text"></div>
        </div>

        <div class="row clearfix">
            <!--Pie Box-->
            <div class="pie-box col-md-3 col-sm-6 col-xs-6">
                <div class="inner-box">
                    <div class="b-box">
                        <span class="title">职</span>
                        <span class="sub-title">海量兼职</span>
                        <span class="desc">数千家知名合作企业，提供海量兼职职位</span>
                    </div>
                </div>
            </div>

            <!--Pie Box-->
            <div class="pie-box col-md-3 col-sm-6 col-xs-6">
                <div class="inner-box">
                    <div class="b-box">
                        <span class="title">真</span>
                        <span class="sub-title">100%真职位</span>
                        <span class="desc">所有商家职位均通过奥斯美兼职严苛的资质及真实性审核，职位100%靠谱</span>
                    </div>
                </div>
            </div>

            <!--Pie Box-->
            <div class="pie-box col-md-3 col-sm-6 col-xs-6">
                <div class="inner-box">
                    <div class="b-box">
                        <span class="title">赔</span>
                        <span class="sub-title">先行赔付</span>
                        <span class="desc">非兼职人员原因，商家单方爽约，少发、不发工作报酬，一经核实，奥斯美兼职先行赔付，保障您的权益</span>
                    </div>
                </div>
            </div>

            <!--Pie Box-->
            <div class="pie-box col-md-3 col-sm-6 col-xs-6">
                <div class="inner-box">
                    <div class="b-box">
                        <span class="title">结</span>
                        <span class="sub-title">工资日结</span>
                        <span class="desc">奥斯美兼职岗位，工资日结，100%包面试到岗！</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--Solutions Section-->


<section class="friends-section">
    <div class="container">
        <div class="sec-title">
            <h2 style="color:#eee">我们的合作伙伴</h2>
            <div class="separator"></div>
            <div class="text"></div>
        </div>

        <div class="row clearfix">

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
                <img src="~/images/partner/Home_28.png" />          
            </div>

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
              
                <img src="~/images/partner/Home_30.png" />
            </div>

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
               
                <img src="~/images/partner/Home_32.png" />
            </div>

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
                <img src="~/images/partner/Home_34.png" />
               
            </div>
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
               
                <img src="~/images/partner/Home_42.png" />
            </div>
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
                
                <img src="~/images/partner/Home_43.png" />
            </div>
        </div>
        <div class="row clearfix ">
            
            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
               
                <img src="~/images/partner/Home_44.png" />
            </div>

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">               
                <img src="~/images/partner/Home_46.png" />
            </div>

            <!--Pie Box-->
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
               
                <img src="~/images/partner/Home_48.png" />
            </div>

            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">

                <img src="~/images/partner/Home_baidu_24.png" />
            </div>
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">
                <img src="~/images/partner/Home_quchengshi_26.png" />
                
            </div>
            <div class="friend-logo-box col-md-2 col-sm-3 col-xs-6">            
                <img src="~/images/partner/mengniu_logo.png" />
            </div>
        </div>

    </div>
</section>

<!--About Section-->
<section class="about-section bg-gray" id="about-us">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>关于我们</h2>
            <div class="separator"></div>
            <div class="text"></div>
        </div>

        <div class="row clearfix">
            <!--About Block-->
            <div class="about-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                   
                    <h3><span class="fa fa-flag"></span><a href="#">最靠谱 <br><span>&nbsp;</span> </a></h3>
                    <div class="text">奥斯美兼职致力于为大学生群体和社会闲散劳动力提供最靠谱的找兼职平台，同时，为企业提供多元化的兼职服务解决方案。</div>
                </div>
            </div>

            <!--About Block-->
            <div class="about-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        
                    </div>
                    <h3><span class="fa fa-flag"></span><a href="#">保障利益 <br><span>&nbsp;</span> </a></h3>
                    <div class="text">奥斯美兼职秉承“诚信、伙伴、价值、分享”的核心企业价值观，倾力保障求职者的合法利益，率先打造“先行赔付”保障体系，深受求职者和合作商家的一致好评。</div>
                </div>
            </div>

            <!--About Block-->
            <div class="about-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                       
                    </div>
                    <h3><span class="fa fa-flag"></span><a href="#">资源丰富 <br><span>&nbsp; </span> </a></h3>
                    <div class="text">成都奥斯美文化传播有限公司作为活动策划行业的专业传媒，我们在业内有着丰富的渠道与媒体资源，以及最专业的行业推广传播经验积累，我们将为客户提供独享的精准营销传播服务。</div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--About Section-->
<!--Services Section-->
@*<section class="services-section" id="services">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>公司服务</h2>
            <div class="separator"></div>
            <div class="text"></div>
        </div>

        <div class="row clearfix">
            <!--Content Column / Left Column-->
            <div class="content-column left-column   col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3>营销公关活动策划</h3>
                            <div class="text">
                                Annual meeting / Cycle meeting 公司年会/季度会议<br />
                                Science forum / 学术论坛<br />
                                Grand ceremony / 大型开业和庆祝典礼<br />
                                Internal and external training / 内部和外部培训会议<br />
                                Products launching meeting /产品上市会及其他公关活动<br />
                                Exhibition / 展览展示会<br />
                                Meeting / dinner大型会议与宴会
                            </div>
                        </div>
                    </div>

                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3>媒体关系 </h3>
                            <div class="text">
                                Media relations strategy planning / 媒体关系策略规划<br />
                                Media communication&Media requests response / 媒体日常沟通和媒体请求响应<br />
                                Media activities planning and execution / 媒体活动规划与实施<br />
                                Media relation maintenance / 媒体关系维护<br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3>直效行销</h3>
                            <div class="text">
                                Direct marketing campaign planning / 直效行销策略规划<br />
                                Industry direct marketing / 行业直效行销<br />
                                Database marketing service / 数据库营销服务<br />
                                Direct mail products designing&execution / 直邮产品内容规划和实施<br />
                                Direct marketing Project execution and management / 直效行销项目执行和项目管理<br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="service-block wow zoomInStable" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3>多媒体影视制作</h3>
                            <div class="text">
                                Interactive CD / 交互式光盘开发制作<br />
                                Mono-Movie / 专题片拍摄与制作<br />
                                Video / 片头视频的开发与制作<br />
                                Photography / 摄影、摄像<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--Content Column / Right Column-->
            <div class="content-column right-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3> 市场研究</h3>
                            <div class="text">
                                PR effectiveness evaluation / 公关效果监测和评估<br />
                                The media reputation index / 企业媒体声望指数分析<br />
                                Internet&Media monitoring / 网络&媒体即时动态信息监测<br />
                                Industry information monitoring and analysis / 行业信息监测和分析<br />
                                Specific marketing investigation and analysis / 专项市场调查和分析<br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3> 危机管理 </h3>
                            <div class="text">
                                Crisis management mechanism establishment / 建立危机管理机制<br />
                                Establishing the crisis early warning system / 建立危机预警系统<br />
                                Establishing the crisis management team and Training / 组建危机管理小组并进行培训<br />
                                Crisis management / 危机处理<br />
                                Crisis assessment & feedback / 危机评估和危机处理反映
                            </div>
                        </div>
                    </div>

                    <!--Service Block-->
                    <div class="service-block wow zoomInStable" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3> 政府公关 </h3>
                            <div class="text">
                                Execute government public image strategy plan / 政府公共形象策略规划及实施<br />
                                Government public project planning and Implementation / 政府公众项目规划和实施<br />
                                Invite officials to take part in enterprise public relation activities / 邀请政府官员参加企业公关活动<br />
                                Arrangement business executives to communicate with government officials / 安排企业主管与政府官员沟通<br />
                                help enterprises to deal with the officaials / 协助企业与政府部门沟通<br />
                            </div>
                        </div>
                    </div>

                    <div class="service-block wow zoomInStable" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner">
                            <div class="icon-box "></div>
                            <h3> 广告服务 </h3>
                            <div class="text">
                                Layout Design/ Video Producing 平面设计/ 视频制作<br />
                                Network Game Development / 网络游戏开发<br />
                                Website Design / 网页设计<br />
                                Printing Design / 设计印刷制作<br />
                                CI /VI Design / CI、VI设计<br />
                                Multimedia Design / 多媒体创意与制作
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>*@
<!--Services Section-->

<!--Gallery Section-->


<div id="contact-us"></div>
@*<div class="footer">
    <!--Contact Section-->
    <section class="contact-section" id="contact-us">

        <div class="container">
            <div class="sec-title" style="margin:0px">
                <h2>联系我们</h2>
                <div class="separator"></div>
                <div class="text"></div>
            </div>
        </div>

        <!--Map Section-->
        <section class="map-section">
            <div class="map-outer">

            </div>
        </section>
        <!--End Map Section-->
        <!--Contact Info-->
        <div class="contact-info">
            <div class="container">



            </div>
        </div>

    </section>
    <!--End Contact Section-->
    <!--Footer-->

</div>*@